:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light white;
    background-color: white;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

.alert {
    color: red;
    font-size: 25px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.column {
    float: left;
    padding: 10px;
}

.left {
    width: 15%;
}

.right {
    width: 85%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

div.ninotree{
    margin: 0;
    padding: 0;
}

div.ninotree ul{
    list-style-type: none;
}

div.ninotree label{
    margin-left: 1.8em;
    user-select: none;
}

div.ninotree .caret {
    cursor: pointer;
    user-select: none;
}

div.ninotree .collapsed{
    display: none;
}
